.table-val-type--i {
  background-color: cornflowerblue;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.table-val-type--hi,
.table-val-type--hj,
.table-val-type--h {
  background-color: silver;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.table-val-type--hA,
.table-val-type--hZ,
.table-val-type--kiA,
.table-val-type--kiZ,
.table-val-type--kjA,
.table-val-type--kjZ {
  background-color: darkkhaki;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.table-val-type--hAZ {
  background-color: yellowgreen;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.table-val-type--j {
  background-color: mediumpurple;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.table-val-type--ki {
  background-color: turquoise;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.table-val-type--kj {
  background-color: palevioletred;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.table-val-type--li,
.table-val-type--mi {
  background-color: powderblue;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.table-val-type--lj,
.table-val-type--wj {
  background-color: plum;
  color: black;
  text-align: center;
  vertical-align: middle;
}
