
    #ExampleDataTable {
      border-collapse: collapse;
    }
  
    #ExampleDataTable th,
    #ExampleDataTable td {
      border-radius: 0.5rem;
  
      &:hover {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
    }
  
    #ExampleDataTable th {
      text-align: left;
      font-weight: bold;
      padding-inline: 1rem;
      margin-inline: 1rem;
    }
  
    #ExampleDataTable th[colspan="52"] {
      font-size: 2rem;
      padding: 1rem;
      cursor: pointer;
    }
  
    #ExampleDataTable td {
      text-align: center;
      font-weight: normal;
      padding-inline: 2rem;
      margin-inline: 2rem;
    }
  
    #ExampleDataTable td.keyCode {
      text-align: left;
      font-weight: bold;
      border-style: dashed;
      border-width: 0.15rem;
      border-block-color: var(--color-0-black);
      border-inline-color: var(--color-0-white);
    }
  
    #ExampleDataTable tr.group-row {
      display: none;
    }
  
    /* Pogrubienie nagłówków i drugiego wiersza */
    #ExampleDataTable tr:first-child>td,
    #ExampleDataTable tr:nth-child(2)>td {
      font-weight: bold;
    }
  
    /* Sosa.Kid. */
    tr.sosaK[data-target] {
      background-color: oklch(var(--bgT) var(--for-kid-S) var(--bgV));
      /* label */
    }
  
    tr.sosaK:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-kid-S) var(--bgV));
      /* -odd- */
    }
  
    tr.sosaK:nth-child(odd)>th,
    tr.sosaK:nth-child(odd)>td:nth-child(even),
    tr.sosaK:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-kid-S) var(--bgV));
      /* -even- */
    }
  
    tr.sosaK:nth-child(even)>th,
    tr.sosaK:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-kid-S) var(--bgV));
      /* -alt-even- */
    }
  
    /* Sosa.Ego. */
    tr.sosaE[data-target] {
      background-color: oklch(var(--bgT) var(--for-ego-S) var(--bgV));
      /* label */
    }
  
    tr.sosaE:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-ego-S) var(--bgV));
      /* -odd- */
    }
  
    tr.sosaE:nth-child(odd)>th,
    tr.sosaE:nth-child(odd)>td:nth-child(even),
    tr.sosaE:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-ego-S) var(--bgV));
      /* -even- */
    }
  
    tr.sosaE:nth-child(even)>th,
    tr.sosaE:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-ego-S) var(--bgV));
      /* -alt-even- */
    }
  
    /* Sosa.Dad. */
    tr.sosaD[data-target] {
      background-color: oklch(var(--bgT) var(--for-dad-S) var(--bgV));
      /* label */
    }
  
    tr.sosaD:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-dad-S) var(--bgV));
      /* -odd- */
    }
  
    tr.sosaD:nth-child(odd)>th,
    tr.sosaD:nth-child(odd)>td:nth-child(even),
    tr.sosaD:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-dad-S) var(--bgV));
      /* -even- */
    }
  
    tr.sosaD:nth-child(even)>th,
    tr.sosaD:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-dad-S) var(--bgV));
      /* -alt-even- */
    }
  
    /* Line.Dad. */
    tr.lineD[data-target] {
      background-color: oklch(var(--bgT) var(--for-dad-L) var(--bgV));
      /* label */
    }
  
    tr.lineD:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-dad-L) var(--bgV));
      /* -odd- */
    }
  
    tr.lineD:nth-child(odd)>th,
    tr.lineD:nth-child(odd)>td:nth-child(even),
    tr.lineD:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-dad-L) var(--bgV));
      /* -even- */
    }
  
    tr.lineD:nth-child(even)>th,
    tr.lineD:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-dad-L) var(--bgV));
      /* -alt-even- */
    }
  
    /* Sosa.Mom. */
    tr.sosaM[data-target] {
      background-color: oklch(var(--bgT) var(--for-mom-S) var(--bgV));
      /* label */
    }
  
    tr.sosaM:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-mom-S) var(--bgV));
      /* -odd- */
    }
  
    tr.sosaM:nth-child(odd)>th,
    tr.sosaM:nth-child(odd)>td:nth-child(even),
    tr.sosaM:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-mom-S) var(--bgV));
      /* -even- */
    }
  
    tr.sosaM:nth-child(even)>th,
    tr.sosaM:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-mom-S) var(--bgV));
      /* -alt-even- */
    }
  
    /* Line.Mom. */
    tr.lineM[data-target] {
      background-color: oklch(var(--bgT) var(--for-mom-L) var(--bgV));
      /* label */
    }
  
    tr.lineM:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-mom-L) var(--bgV));
      /* -odd- */
    }
  
    tr.lineM:nth-child(odd)>th,
    tr.lineM:nth-child(odd)>td:nth-child(even),
    tr.lineM:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-mom-L) var(--bgV));
      /* -even- */
    }
  
    tr.lineM:nth-child(even)>th,
    tr.lineM:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-mom-L) var(--bgV));
      /* -alt-even- */
    }
  
    /* Gene (1) */
    tr.gene1[data-target] {
      background-color: oklch(var(--bgT) var(--for-gene1) var(--bgV));
      /* label */
    }
  
    tr.gene1:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-gene1) var(--bgV));
      /* -odd- */
    }
  
    tr.gene1:nth-child(odd)>th,
    tr.gene1:nth-child(odd)>td:nth-child(even),
    tr.gene1:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-gene1) var(--bgV));
      /* -even- */
    }
  
    tr.gene1:nth-child(even)>th,
    tr.gene1:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-gene1) var(--bgV));
      /* -alt-even- */
    }
  
    /* Gene (2) */
    tr.gene2[data-target] {
      background-color: oklch(var(--bgT) var(--for-gene2) var(--bgV));
      /* label */
    }
  
    tr.gene2:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-gene2) var(--bgV));
      /* -odd- */
    }
  
    tr.gene2:nth-child(odd)>th,
    tr.gene2:nth-child(odd)>td:nth-child(even),
    tr.gene2:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-gene2) var(--bgV));
      /* -even- */
    }
  
    tr.gene2:nth-child(even)>th,
    tr.gene2:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-gene2) var(--bgV));
      /* -alt-even- */
    }
  
    /* Gene (3) */
    tr.gene3[data-target] {
      background-color: oklch(var(--bgT) var(--for-gene3) var(--bgV));
      /* label */
    }
  
    tr.gene3:nth-child(odd)>td:nth-child(odd) {
      background-color: oklch(var(--bgO) var(--for-gene3) var(--bgV));
      /* -odd- */
    }
  
    tr.gene3:nth-child(odd)>th,
    tr.gene3:nth-child(odd)>td:nth-child(even),
    tr.gene3:nth-child(even)>td:nth-child(odd) {
      background-color: oklch(var(--bgE) var(--for-gene3) var(--bgV));
      /* -even- */
    }
  
    tr.gene3:nth-child(even)>th,
    tr.gene3:nth-child(even)>td:nth-child(even) {
      background-color: oklch(var(--bgA) var(--for-gene3) var(--bgV));
      /* -alt-even- */
    }
