:root {
  --color-oklch-Black: oklch(0 0 0);
  --color-oklch-GreyB: oklch(0.3 0 0);
  --color-oklch-GreyW: oklch(0.6 0 0);
  --color-oklch-White: oklch(1 0 0);
  --color-zero-ground: oklch(36.65% 44.08% 160.01);
  --shadow-little-1: 2px 0 6px rgba(0, 0, 0, 0.4);
  --shadow-strong-1: 2px 0 6px rgba(0, 0, 0, 0.6);
  --color-backdrop: rgba(0, 0, 0, 0.3);

  --size-stripe-head: 50px;
  --size-stripe-foot: 30px;
  --size-stripe-menu: 60px;
  --size-drawer-menu: 300px;
  --size-drawer-foot: 40%;

  --layer-stripe-menu: 1004;
  --layer-drawer-menu: 1003;
  --layer-drawer-foot: 1002;
  --layer-stripe-foot: 1001;
  --layer-deactivated: 1000;

  --layout-padding-stripeMenu: 0 !important;
  --layout-padding-drawer: 10px;
  --layout-padding-stripeHeFo: 0 15px;
  --layout-flexGap-stripeMenu: 10px;

  --button-field-border-radius: 0.45rem;
  --button-field-padding: 0.25rem;
  --button-field-flexGap: 0.1rem;
  --button-field-height: 50px;
}

.body-ground-with-drawer-hide {
  grid-template-columns: var(--size-stripe-menu) 1fr;
  grid-template-areas:
    "stripe-menu stripe-head"
    "stripe-menu body-mainly"
    "stripe-menu stripe-foot";
}

.body-ground-with-drawer-show {
  grid-template-columns: var(--size-stripe-menu) var(--size-drawer-menu) 1fr;
  grid-template-areas:
    "stripe-menu drawer-menu stripe-head"
    "stripe-menu drawer-menu body-mainly"
    "stripe-menu drawer-menu stripe-foot";
}

#menuDrawer.pinned {
  position: static;
  transform: none;
  box-shadow: none;
  left: unset !important;
  grid-area: nav-drawer;
  height: 100%;
}

#menuDrawer.open {
  transform: translateX(0);
}

#footDrawer.open{
  transform: translateY(0);
}








#bodyGround {
  background-color: var(--color-zero-ground);
}

#headStripe,
#menuStripe,
#footStripe {
  box-shadow: var(--shadow-little-1);
}

#menuDrawer,
#footDrawer {
  box-shadow: var(--shadow-strong-1);
  background-color: var(--color-zero-ground);
}

#headStripe {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-White) 70%,
    transparent
  );
}

#headStripe strong {
  color: var(--color-zero-ground);
}

#headStripe small {
  color: color-mix(in oklch, var(--color-zero-ground) 70%, transparent);
}

#menuStripe {
  background-color: var(--color-zero-ground);
}

#menuStripe .button-field > button {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-White) 70%,
    transparent
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-Black) 50%,
    transparent
  );
}

#menuStripe .button-field > button:hover {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-White) 40%,
    transparent
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 90%,
    transparent
  );
}

#menuDrawer {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-Black) 5%,
    var(--color-zero-ground)
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 50%,
    transparent
  );
}

#footStripe {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-Black) 30%,
    transparent
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 50%,
    transparent
  );
}

#footDrawer {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-Black) 30%,
    transparent
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 70%,
    transparent
  );
}

.deactivated-backdrop {
  background-color: var(--color-backdrop);
}

a.nav-map >span{
  background-color: color-mix(
  in oklch,
  var(--color-oklch-Black) 20%,
  transparent
);
}
.nav-map:link,
.nav-map:visited,
.nav-map:hover,
.nav-map:active,
a.nav-map>span {
  color: white !important;
}