:root {
  --color-oklch-Black: oklch(0 0 0);
  --color-oklch-GreyB: oklch(0.3 0 0);
  --color-oklch-GreyW: oklch(0.6 0 0);
  --color-oklch-White: oklch(1 0 0);
  --color-zero-ground: oklch(36.65% 44.08% 160.01);
  --shadow-little-1: 2px 0 6px rgba(0, 0, 0, 0.4);
  --shadow-strong-1: 2px 0 6px rgba(0, 0, 0, 0.6);
  --color-backdrop: rgba(0, 0, 0, 0.3);

  --size-stripe-head: 50px;
  --size-stripe-foot: 30px;
  --size-stripe-menu: 60px;
  --size-drawer-menu: 300px;
  --size-drawer-foot: 40%;

  --layer-stripe-menu: 1004;
  --layer-drawer-menu: 1003;
  --layer-drawer-foot: 1002;
  --layer-stripe-foot: 1001;
  --layer-deactivated: 1000;

  --layout-padding-stripeMenu: 0 !important;
  --layout-padding-drawer: 10px;
  --layout-padding-stripeHeFo: 0 15px;
  --layout-flexGap-stripeMenu: 10px;

  --button-field-border-radius: 0.45rem;
  --button-field-padding: 0.25rem;
  --button-field-flexGap: 0.1rem;
  --button-field-height: 50px;

  --bg: oklch(0.92 0.022 260.12);
  --bg-math: oklch(0.97 0.022 260.12);
  --text: oklch(0.12 0.022 260.12);
  --graf-ih0: oklch(0.69 0.1388 355);
  --graf-ih1: oklch(0.69 0.1388 70);
  --graf-ih2: oklch(0.69 0.1388 112);
  --graf-ih3: oklch(0.69 0.1388 150);
  --math-border: oklch(0.92 0.052 260.12);
  --math-tt: black;
  --math-ih: firebrick;
  --math-jh: darkgoldenrod;
  --math-i: mediumblue;
  --math-j: royalblue;
  --math-mix: darkorchid;
  --math-j-sort: mediumpurple;
  --math-jh-sort: sienna;
  --math-to-fam: lightseagreen;
}

.body-ground-with-drawer-hide {
  grid-template-columns: var(--size-stripe-menu) 1fr;
  grid-template-areas:
    "stripe-menu stripe-head"
    "stripe-menu body-mainly"
    "stripe-menu stripe-foot";
}

.body-ground-with-drawer-show {
  grid-template-columns: var(--size-stripe-menu) var(--size-drawer-menu) 1fr;
  grid-template-areas:
    "stripe-menu drawer-menu stripe-head"
    "stripe-menu drawer-menu body-mainly"
    "stripe-menu drawer-menu stripe-foot";
}

#menuDrawer.pinned {
  position: static;
  transform: none;
  box-shadow: none;
  left: unset !important;
  grid-area: nav-drawer;
  height: 100%;
}

#menuDrawer.open {
  transform: translateX(0);
}

#footDrawer.open{
  transform: translateY(0);
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

#bodyGround,
#bodyMainly,
#headStripe,
#menuStripe,
#menuDrawer,
#footStripe,
#footDrawer {
  box-sizing: border-box;
}

#bodyMainly {
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

#bodyGround {
  display: grid;
  grid-template-rows: var(--size-stripe-head) 1fr var(--size-stripe-foot);
}

#menuStripe,
#headStripe,
#footStripe {
  display: flex;
  align-items: center;
}

#menuStripe {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--layout-padding-stripeMenu);
  gap: var(--layout-flexGap-stripeMenu);
  z-index: var(--layer-stripe-menu);
}

#headStripe,
#footStripe {
  padding: var(--layout-padding-stripeHeFo);
  justify-content: space-between;
}

#menuDrawer,
#footDrawer {
  bottom: 0;
  transition: transform 0.3s ease;
  position: fixed;
  left: var(--size-stripe-menu);
  display: flex;
}

.container {
  flex: 1;
}

#menuDrawer {
  transform: translateX(-150%);
  top: 0;
  width: var(--size-drawer-menu);
  z-index: var(--layer-drawer-menu);
  padding: var(--layout-padding-drawer);
  overflow-y: auto;
}

#footDrawer {
  transform: translateY(150%);
  right: 0;
  height: var(--size-drawer-foot);
  z-index: var(--layer-drawer-foot);
  padding: var(--layout-padding-drawer);
  overflow-y: auto;
}

#menuStripe .button-field {
  border-radius: var(--button-field-border-radius);
  padding: var(--button-field-padding);
  height: var(--button-field-height);
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
  gap: var(--button-field-flexGap);
}

#menuStripe .button-field > button {
  flex: 1;
  height: 100%;
}

#footDrawerToggleShow {
  border-radius: 0.45rem;
  padding: 0.25rem;
}

.deactivated-backdrop {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  z-index: var(--layer-deactivated);
  display: none;
}

.deactivated-backdrop.active {
  display: block;
}

.nav-map{
  text-decoration: none; 
  user-select: none; 
  cursor: pointer; 
}
.nav-map:hover {
  text-decoration: underline;
}
a.nav-map >span{
  padding: 3px;
}



#bodyMainly .card {
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

section.card > div:nth-child(1) {
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}

section.card > div:nth-child(1) > span.card-code,
section.card > div:nth-child(1) > span.card-name {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 0.5rem;
}

section.card > div:nth-child(1) > span.card-code {
  padding-top: 1px;
  font-weight: bold;
  font-size: 1.5rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

section.card > div:nth-child(1) > span.card-name {
  padding-top: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom-style: double;
  border-bottom-width: 4px;
}
article.card-main {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
}
article.card-main > p {
  line-height: 1.45rem;
  text-indent: 2rem;
  text-align: justify;
  text-align-last: left;
}






#bodyGround {
  background-color: var(--color-zero-ground);
}

#headStripe,
#menuStripe,
#footStripe {
  box-shadow: var(--shadow-little-1);
}

#menuDrawer,
#footDrawer {
  box-shadow: var(--shadow-strong-1);
  background-color: var(--color-zero-ground);
}

#headStripe {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-White) 70%,
    transparent
  );
}

#headStripe strong {
  color: var(--color-zero-ground);
}

#headStripe small {
  color: color-mix(in oklch, var(--color-zero-ground) 70%, transparent);
}

#menuStripe {
  background-color: var(--color-zero-ground);
}

#menuStripe .button-field > button {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-White) 70%,
    transparent
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-Black) 50%,
    transparent
  );
}

#menuStripe .button-field > button:hover {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-White) 40%,
    transparent
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 90%,
    transparent
  );
}

#menuDrawer {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-Black) 5%,
    var(--color-zero-ground)
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 50%,
    transparent
  );
}

#footStripe {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-Black) 30%,
    transparent
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 50%,
    transparent
  );
}

#footDrawer {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-Black) 30%,
    transparent
  );
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 70%,
    transparent
  );
}

.deactivated-backdrop {
  background-color: var(--color-backdrop);
}

a.nav-map >span{
  background-color: color-mix(
  in oklch,
  var(--color-oklch-Black) 20%,
  transparent
);
}
.nav-map:link,
.nav-map:visited,
.nav-map:hover,
.nav-map:active,
a.nav-map>span {
  color: white !important;
}




#bodyMainly section {
  background-color: color-mix(
    in oklch,
    var(--color-oklch-White) 80%,
    transparent
  );
}

section.card > div:nth-child(1) > span.card-code {
  background-color: var(--color-zero-ground);
  color: color-mix(
    in oklch,
    var(--color-oklch-White) 80%,
    transparent
  );
}
section.card > div:nth-child(1) > span.card-name {
  color: var(--color-zero-ground);
  border-bottom-color: var(--color-zero-ground);
}




code,
pre {
  padding: 0.5em;
  border-radius: 0.3em;
  display: block;
  overflow-x: auto;
}

.ih {
  color: var(--math-ih);
  font-weight: bold;
}

.i {
  color: var(--math-i);
  font-weight: bold;
}

.jh {
  color: var(--math-jh);
  font-weight: bold;
}

.j {
  color: var(--math-j);
  font-weight: bold;
}

.jhsort {
  color: var(--math-jh-sort);
  font-weight: bold;
}

.jsort {
  color: var(--math-j-sort);
  font-weight: bold;
}

.mix {
  color: var(--math-mix);
  font-weight: bold;
}

.tt {
  color: var(--math-tt);
  font-weight: bold;
}

.bg-ih0 {
  background-color: var(--graf-ih0);
}

.bg-ih2 {
  background-color: var(--graf-ih2);
}

.bg-ih3 {
  background-color: var(--graf-ih3);
}

.bg-ih4 {
  background-color: var(--graf-ih4);
}